<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h2 class="text-center display-4">Quản lý sinh viên</h2>
            <div class="form-group">
                <span>Mã sinh viên:</span>
                <input type="text" id="maSinhVien" class="form-control">
                <p class="text-danger" id="err_maSinhVien_ktRong"></p>
                <p class="text-danger" id="err_maSinhVien_allNumber"></p>
                <p class="text-danger" id="err_maSinhVien_maxMinLength"></p>
            </div>
            <div class="form-group">
                <span>Tên sinh viên:</span>
                <input type="text" id="tenSinhVien" class="form-control">
                <p class="text-danger" id="err_tenSinhVien_ktRong"></p>
                <p class="text-danger" id="err_tenSinhVien_allLetters"></p>
            </div>
            <div class="form-group">
                <span>Email:</span>
                <input type="text" id="email" class="form-control">
                <p class="text-danger" id="err_email_ktRong"></p>
                <p class="text-danger" id="err_email_format"></p>
            
            </div>
            <div class="form-group">
                <span>Loại sinh viên:</span>
                <select class="form-control" id="loaiSinhVien">
                    <option value="Khó khăn">Khó khăn</option>
                    <option value="Bình thường">Bình thường</option>
                </select>
            </div>
            <div class="form-group row">
                <div class="col">
                    <p>Điểm toán: </p>
                <input type="text" class="form-control " id="diemToan">
                <p class="text-danger" id="err_diemToan_ktRong"></p>
                <p class="text-danger" id="err_diemToan_allNumber"></p>
                <p class="text-danger" id="err_diemToan_maxMinValue"></p>

                </div>
                <div class="col">
                    <p>Điểm lý: </p>
                <input type="text" class="form-control col" id="diemLy">
                <p class="text-danger" id="err_diemLy_ktRong"></p>
                <p class="text-danger" id="err_diemLy_allNumber"></p>
                <p class="text-danger" id="err_diemLy_maxMinValue"></p>
                    
            </div>
                <div class="col">
                    <p>Điểm hóa: </p>
                <input type="text" class="form-control col" id="diemHoa">
                <p class="text-danger" id="err_diemHoa_ktRong"></p>
                <p class="text-danger" id="err_diemHoa_allNumber"></p>
                <p class="text-danger" id="err_diemHoa_maxMinValue"></p>
                    
            </div>
            </div>
            <div class="form-group">
                <span>Điểm rèn luyện:</span>
                <input type="text" id="diemRenLuyen" class="form-control">
                <p class="text-danger" id="err_diemRenLuyen_ktRong"></p>
                <p class="text-danger" id="err_diemRenLuyen_allNumber"></p>
                <p class="text-danger" id="err_diemRenLuyen_maxMinValue"></p>
                
            </div>
            <div class="form-group text-center">
                <button class="btn btn-success" id="btnThemSinhVien">Thêm sinh viên</button>
                <button class="btn btn-primary" id="btnCapNhatSinhVien">Cập nhật sinh viên</button>
            </div>


            <div class="table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Mã sinh viên</th>
                            <th>Tên sinh viên</th>
                            <th>Email</th>
                            <th>Loại sinh viên</th>
                            <th>Điểm trung bình</th>
                            <th>Điểm rèn luyện</th>
                        </tr>
                    </thead>
                    <tbody id="tblSinhVien">

                    </tbody>
                </table>
            </div>
        </div>






        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
            <!-- axios -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous"></script>
            <!-- model -->
        <script src="../models/SinhVien.js"></script>
        <script src="../models/Validation.js"></script>
        <!-- Service giao tiep back end -->
        <script src="../services/SinhVienService.js"></script>
            <!-- controler -->
            <!-- <script src="../controllers/main.js"></script> -->
        <script src="../controllers/callback.js"></script>
            <script src="../controllers/indexAjax.js"></script>
    </body>
</html>